
header{
	margin: auto;
	text-align: center;
}
header img{
	width: 60%;
	height: 400px;
}

.flex-container{
	display: flex;
	width: 60%;
	margin: auto;
}
.logo{
	width: 100px;
	height: 100px;
	padding: 0;
}
div img{
	border-radius: 50%;
	border: 1px solid;
}
.col-1{
	flex: 1;
	border: 2px solid black;
}
.col-2{
	flex: 2;
	border: 2px solid black;
}
.col-3{
	flex: 1;
	border: 2px solid black;
}
.col{
	padding: 10px;
	margin: 5px;
	background-color: #6441A4;
}
a{
	text-decoration: none;
	color: currentColor;
}