body, html{
	padding: 0;
	margin: 0;
	background-color: #16324f;
	color: #d6d9ce;
	text-align: center;
	width: 100%;
	font-family: 'Titillium Web', sans-serif;
} 
h1{
	text-align: center;
	color: #d6d9ce;
	font-size: 50px;
	font-family: 'Ubuntu', sans-serif;
}
h2{
	text-align: center;
	color: #d6d9ce;
	font-size: 40px;
	padding: 0;
	margin: 0;
	font-family: 'Ubuntu', sans-serif;
}
h3{
	text-align: center;
	font-size: 30px;
	color: #d6d9ce;
	padding-bottom: 0;
	margin-bottom: 5px;
	font-family: 'Ubuntu', sans-serif;
}
.center div{
	margin: 0 30%;
}
form{
	padding: 10px;
	margin: 10px 10px;
	display: inline-flex;
}
#search-click img{
	padding-left: 10px;
	vertical-align: middle;
}
#input-search{
	padding: 10px;
	width: 400px;
	color: #16324f;
}
input{
	border-radius: 25px;
}
#random-search img{
	margin: 0 50%;
}
#wikipedia-title {
	max-width: 650px;
	margin: auto;
	margin-top: 30px;
}
ul{

}
li{
	list-style: none;
	border: 3px solid white;
	width: 90%;
}
p{
	font-size: 20px;
	padding: 15px;
}
#wikipedia-title a{
	text-decoration: none;
}
#wikipedia-title li:hover{
	background-color: #26547c;
	color: #d6d9ce;
}
h2:hover{
	color: #16324f;
}
footer{
	margin-top: 100px;
}
footer a{
	text-decoration: none;
	color: #d6d9ce;
	text-align: center;
	font-size: 20px;
}